
/* CUSTOM */
.event-day {
  margin-left: 25px;
  margin-right: 26px;
}
.event-date {
  margin-left: 12px;
  margin-right: 12px;
}
.event-month {
  margin-left: 12px;
}
.event-time {
  margin-left: 10px;
  margin-right: 10px;
}

/* SIMPLY COUNTDOWN */
.simply-countdown > .simply-section {
  /* coutndown blocks */
  display: inline-block;
  width: 75px;
  height: 50px;
  background: rgba(17, 52, 104, 0.8);
  margin: 0 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  animation: pulse 1s ease infinite;
}
.simply-countdown > .simply-section > div {
  /* countdown block inner div */
  display: table-cell;
  vertical-align: middle;
  height: 0px;
  width: 100px;
}
.simply-countdown > .simply-section .simply-amount {
  font-size: 20px;
  /* amounts */
}

/* BOOTSTRAP */
.label {
  padding: .3em .6em .2em;
  vertical-align: text-top;
}
.label-as-badge {
  border-radius: 1em;
  margin-left: 0.5rem;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}